<!--
<nav class="navbar navbar-fixed-top navbar-dark green" style="margin-top:50px;">

<ol class="breadcrumb breadcrumb-arrow">
    <li><a href="#">Menu</a></li>
    <li class="active-bread"><span>Data</span></li>

</ol>
-->

<nav class="navbar navbar-fixed-top navbar-dark green">
        <div class="container-fluid">
            <div class="row" style="background-image: url(../img/pasto_1.jpg);background-size: 100% 50px;background-repeat: no-repeat; height: 50px;"></div>
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation" style="color:white;">
                    <span class="navbar-toggler-icon fa fa-bars"></span>

                </button>
                <a class="navbar-brand fg-white" style="cursor: pointer;"  data-bind="text: nombreInstitucion" onclick="IrInicio()"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="Inicio.html"><i class="fa fa-home"></i> Inicio</a></li>
                    <li style="cursor: pointer;"><a  id="ancoreSesion" name="ancoreSesion" data-bind="click: cerrarSesion, html: iconoSesion"></a></li>
                    <!-- <i class="fa fa-sign-in"></i> Iniciar Sesión -->
                    <li data-bind="visible: menuMenu" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-bind="visible: menuMenuUsuarios"><a href="usuarios.html">Usuarios</a></li>
                            <li data-bind="visible: menuMenuInstituciones" role="separator" class="divider"></li>
                            <li data-bind="visible: menuMenuInstituciones"><a href="ListarCanchas.html">Mis Canchas</a></li>
                            <li data-bind="visible: menuMenuTiposCancha" role="separator" class="divider"></li>
                            <li data-bind="visible: menuMenuTiposCancha"><a href="ListarTiposCancha.html">Tipos de Canchas</a></li>
                            <!--
                            
                            <li data-bind="visible: menuMenuDocumentos" role="separator" class="divider"></li>
                            <li data-bind="visible: menuMenuDocumentos"><a href="ListarDocumento.html">Documentos de Usuario</a></li>
                            <li data-bind="visible: menuMenuCalendarrio" role="separator" class="divider"></li>
                            <li data-bind="visible: menuMenuCalendarrio"><a href="ListarCalendario.html">Calendario</a></li>
                            <li data-bind="visible: menuMenuCargaMasiva" role="separator" class="divider"></li>
                            <li data-bind="visible: menuMenuCargaMasiva"><a href="CargaMasiva.html">Carga Masiva</a></li>
                            <li data-bind="visible: menuMenuReportes" role="separator" class="divider"></li>
                            <li data-bind="visible: menuMenuReportes"><a href="InicioReportes.html">Reportes</a></li>
                            -->
                        </ul>
                    </li>
                    <!--
                    <li class="dropdown" data-bind="visible: menuTricel">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tricel <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-bind="visible: menuTricelListar" href="ListarVotacion.html">Listar Triceles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-bind="visible: menuProyecto">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-bind="visible: menuProyectoListar" href="ListarProyecto.html">Listar Proyectos</a></li>
                        </ul>
                    </li>
                    -->
                    <li><a href="Contacto.html" id="contacto"><i class="fa fa-sign-in"></i> Contacto</a></li>
                    <!--
                    <li data-bind="visible: menuLogs"><a href="Logs.html" id="logs"><i class="fa fa-info-circle"></i> Logs</a></li>
                    -->
                    <li><a href="#" id="infoUsuarios"></a></li>
                </ul>
            </div>
        </div>


    </nav>

